<div class="contenido">
    Nombre Ciudad: <input type="text" #ciudad><br>
    Nombre Pais: <input type="text" #pais><br>
    Codigo Ciudad: <input type="text" #codigo><br>

    <button (click)="crear(ciudad.value, pais.value, codigo.value)">Mostrar Ciudad</button>

    <div class="encontrar">
        Encuentra tu Ciudad: <input type="text" #encontrar><br>

        <button (click)="find(encontrar)"></button>
    </div>
    <p *ngIf="ciudadEncontrada !=null">
        Ciudad Encontrada: {{ciudadEncontrada.nombre}}
     </p>
</div>
